@model ChatViewModel

@section css {
    <link rel="stylesheet" href="~/css/forms.css" />
    <link rel="stylesheet" href="~/css/chat.css" />
}

@section Scripts {
    <script type="text/javascript" src="~/js/chat.js"></script>
}

<h1>Чат с @Model.Recipient.FirstName @Model.Recipient.LastName</h1>

<div class="round-corners">
    <div class="chat-messages">
        <partial name="_Messages" model="Model.Messages">
    </div>

    <div class="chat-controls">
        <form asp-action="NewMessage" asp-controller="Chat" asp-route-id="@Model.Recipient.Id" method="post">
            <input asp-for="NewMessage.Text" type="text" required>
            <button class="button-primary">Отправить</button>
        </form>
    </div>
</div>