.main {
    flex: 40%;
    padding: 40px 100px;
}


.side {
    flex: 60%;
    padding: 20px
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    padding: 20px;
    text-align: center;
}

.topnav {
    padding: 20px;
    text-align: center;
    width: 100%;
}

.main-img {
    width: 100%;
    max-width: max-content;
}

.center {
    text-align: center;
}