@model LoginViewModel

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<div class="round-corners">
    <h3 class="center">Добро пожаловать!</h3>
    <form method="post" asp-controller="AccountManager" asp-action="Login">
        @if (ViewData["ValidationFor"] == "Login")
        {
            <div asp-validation-summary="ModelOnly"></div>
        }
        <div>
            <input asp-for="Email" type="email" placeholder="Email" required />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <input asp-for="Password" type="password" placeholder="Пароль" required />
            <span asp-validation-for="Password"></span>
        </div>

        <div>
            <input asp-for="RememberMe" type="checkbox" />
            <label asp-for="RememberMe"></label>
            <span asp-validation-for="RememberMe"></span>
        </div>

        <input asp-for="ReturnUrl" type="hidden" />

        <div>
            <button class="button-primary" type="submit">Вход</button>
        </div>
    </form>
</div>